


<div class="bg-img-fix contact-div">

<form class="round contact-form" method="post">
<div class="input-group">
  <span class="input-group-addon col-1of3 margin-t1  extra white-txt" id="basic-addon1">First Name:  </span>
  <input type="text" class="firstname" placeholder="firstname" aria-describedby="basic-addon1">
</div>

<div class="clear-float input-group margin-t1">
  <span class="input-group-addon col-1of3 margin-t1  extra white-txt" id="basic-addon1">Last Name:  </span>
  <input type="text" class="lastname" placeholder="Lastname" aria-describedby="basic-addon1">
</div>

<div class="clear-float input-group margin-t1">
  <span class="input-group-addon col-1of3 margin-t1 white-txt extra" id="basic-addon1">Phone number:  </span>

<input type="text" class="phonenumber" placeholder="phonenumber" aria-describedby="basic-addon1">
</div>

<input class= "submit" type="submit" value="Submit">


</form>


</div>



